<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12"><h1 id="saying"><%=@saying%></h1></div>
  </div>

  <div class="row">
    <div id="new-saying"><button type="button" class="btn btn-default"><div class="col-xs-12 col-md-4"><a href="#">Click Here for a New Phrase!</a></div></button></div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-xs-12 col-md-1"></div>
  <button type="button" class="btn btn-default"><div class="col-xs-6 col-md-4"><a href="#">Set it to Corporate</a></div></button>
  <button type="button" class="btn btn-default"><div class="col-xs-6 col-md-4"><a href="#">Set it to Hacker</a></div></button>
</div>
